@page "/credit-calculator"
@inherits Base

@using BankingInformatics.Frontend.Models.Parameters
@using BankingInformatics.Frontend.Models
@using ChartJs.Blazor
@using ChartJs.Blazor.Common
@using ChartJs.Blazor.Common.Axes
@using ChartJs.Blazor.Common.Enums
@using ChartJs.Blazor.Common.Time
@using ChartJs.Blazor.LineChart
@using ChartJs.Blazor.Util
@using System.Drawing
@using Blazored.LocalStorage

@inject ILocalStorageService LocalStorageService;


<PageTitle>Credit calculator</PageTitle>

<div class="container-fluid">
    
    @if (Alert.Show)
    {
        <AlertMessage AlertType="@Alert.TypeString"
                      Title="@Alert.Title"
                      Message="@Alert.Message"></AlertMessage>
    }

    <div class="row mb-2">
        <div class="col-md-4">
            <h2 class="d-flex justify-content-start">Credit parameters:</h2>

            <EditForm Model="_creditParameters" OnValidSubmit="CalculatePayments">
                <DataAnnotationsValidator/>

                <div class="form-group">
                    <label class="fw-bold">Name: (used to identify saved parameters)</label>
                    <InputText @bind-Value="_creditParameters.Name" class="form-control mb-2"/>
                    <ValidationMessage For="() => _creditParameters.Name"/>
                </div>
                <div class="form-group">
                    <label class="fw-bold">Date:</label>
                    <InputDate @bind-Value="_creditParameters.Date" class="form-control mb-2"
                               placeholder="0.00"/>
                    <ValidationMessage For="() => _creditParameters.Date"/>
                </div>
                <div class="form-group">
                    <label class="fw-bold">Sum:</label>
                    <InputNumber @bind-Value="_creditParameters.Sum" class="form-control mb-2"
                                 placeholder="0.00"/>
                    <ValidationMessage For="() => _creditParameters.Sum"/>
                </div>
                <div class="form-group">
                    <label class="fw-bold">Months:</label>
                    <InputNumber @bind-Value="_creditParameters.Months" class="form-control mb-2"
                                 placeholder="0"/>
                    <ValidationMessage For="() => _creditParameters.Months"/>
                </div>
                <div class="form-group">
                    <label class="fw-bold">Percent (%):</label>
                    <InputNumber @bind-Value="_creditParameters.Percent" class="form-control mb-2"
                                 placeholder="0.00"/>
                    <ValidationMessage For="() => _creditParameters.Months"/>
                </div>
                <div class="form-group">
                    <label class="fw-bold">Payment type</label>
                    <InputSelect @bind-Value="_creditParameters.PaymentType" class="form-select mb-2">
                        @foreach (var accessType in Enum.GetValues(typeof(PaymentType)))
                        {
                            <option value="@accessType"> @accessType</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="() => _creditParameters.PaymentType"/>
                </div>

                <div class="mb-2">
                    <button type="submit" class="btn btn-dark">Calculate</button>
                    <button type="submit" class="btn btn-dark" @onclick="SaveCurrentParametersAsync">Save</button>
                </div>

            </EditForm>
        </div>
        
        <div class="col-md-8">
            @if (_creditParameters.PaymentType is PaymentType.Annuity)
            {
                <h2 class="d-flex justify-content-center">Every month payment:</h2>
                <table class="table">
                    <thead class="mb-1">
                    <tr>
                        <th scope="col">Period</th>
                        <th scope="col">Month payment sum</th>
                        <th scope="col">Total overpayment</th>
                    </tr>
                    </thead>
                    @if (_paymentCollection.Payments.Any())
                    {
                        <tr class="mb-1">
                            <td scope="row">@(_creditParameters.Date.ToString("yyyy-MM-dd")) -> @(_creditParameters.Date.AddMonths(_creditParameters.Months).ToString("yyyy-MM-dd"))</td>
                            <td>@_paymentCollection.Payments.First().Sum</td>
                            <td>@_paymentCollection.Overpayment</td>
                        </tr>
                    }
                </table>
            }
            
            <h2 class="d-flex justify-content-center">Payments:</h2>
            <table class="table">
                <thead class="mb-1">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Sum</th>
                    <th scope="col">Main part</th>
                    <th scope="col">Percent part</th>
                </tr>
                </thead>
                @foreach (var payment in _paymentCollection.Payments)
                {
                    <tr class="mb-1">
                        <td scope="row">@payment.Date.ToString("yyyy-MM-dd")</td>
                        <td>@payment.Sum</td>
                        <td>@payment.BodySum</td>
                        <td>@payment.PercentSum</td>
                    </tr>
                }
                <tr class="mb-1">
                    <td scope="row" class="fw-bold">Total overpayment:</td>
                    <td></td>
                    <td></td>
                    <td class="fw-bold">@_paymentCollection.Overpayment</td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4">
            @foreach (var parametersRow in _savedParameters
                .Select(item => (item.Key, Card: new CreditParametersCard
                {
                    Title = item.Parameters.Name.CutIfMoreThan(20),
                    Subtitle = $"Type: {item.Parameters.PaymentType.ToString()}",
                    TextAreas = new []
                    {
                        $"Sum: {item.Parameters.Sum}",
                        $"Months: {item.Parameters.Months}",
                        $"Percent: {item.Parameters.Percent}"
                    },
                    CreditParameters = item.Parameters
                }))
                .SepareteIntoRows(3))
            {
                <div class="row mb-2">
                    @foreach (var (cardItem, _, columnWidth) in parametersRow)
                    {
                        <CardBox Width="@columnWidth"
                                 Title="@cardItem.Card.Title"
                                 SubTitle="@cardItem.Card.Subtitle"
                                 TextAreas="@cardItem.Card.TextAreas"
                                 Buttons="@(new[] { new CardBox.Button(CardBox.ButtonType.Success, "Copy", OnClick: _ => SetParameters(cardItem.Card.CreditParameters)), new CardBox.Button(CardBox.ButtonType.Danger, "Remove", OnClick: _ => DeleteParametersFromSaves(cardItem.Key)) })"/>
                    }
                </div>
            }
        </div>
        <div class="col-md-8">
            @if (_lineConfig is not null && _chart is not null)
            {
                <Chart Config="_lineConfig" @ref="_chart"></Chart>
            }
        </div>
    </div>

</div>

@code
{
    private Chart? _chart;
    private LineConfig? _lineConfig;

    private CreditParameters _creditParameters = new() { Date = DateOnly.FromDateTime(DateTime.UtcNow) };
    private PaymentCollection _paymentCollection = new()
    {
        Payments = Array.Empty<Payment>(),
        Overpayment = 0
    };

    private IReadOnlyCollection<(string Key, CreditParameters Parameters)> _savedParameters =
        Array.Empty<(string Key, CreditParameters Parameters)>();

    protected override async Task OnInitializedAsync()
    {
        await UpdateSavedParametersAsync();

        _lineConfig = GetLineConfig();
        _lineConfig.Data.Datasets.Add(new LineDataset<TimePoint>(Enumerable
            .Range(0, 1)
            .Select(_ => new TimePoint(DateOnly.MinValue.ToDateTime(TimeOnly.MinValue), 0)))
        {
            Label = "Payments",
            BackgroundColor = ColorUtil.FromDrawingColor(Color.Green),
            BorderColor = ColorUtil.FromDrawingColor(Color.Green),
            Fill = FillingMode.Disabled
        });
        _chart = new Chart { Config = _lineConfig };
        
        await base.OnInitializedAsync();
    }

    private void CalculatePayments()
    {
        _lineConfig!.Data.Datasets.Clear();
        _chart!.Update();
        StateHasChanged();

        _paymentCollection = Calculators.CreditCalculator.CalculatePayments(_creditParameters);
        var dataset = new LineDataset<TimePoint>(_paymentCollection.Payments
            .Select(payment => new TimePoint(payment.Date.ToDateTime(TimeOnly.MinValue), (double)payment.Sum)))
        {
            Label = "Payments",
            BackgroundColor = ColorUtil.FromDrawingColor(Color.Green),
            BorderColor = ColorUtil.FromDrawingColor(Color.Green),
            Fill = FillingMode.Disabled
        };
        _lineConfig.Data.Datasets.Add(dataset);
        _chart.Update();
        
        StateHasChanged();
    }
    
    private async ValueTask UpdateSavedParametersAsync()
    {
        _savedParameters = await (await LocalStorageService
            .KeysAsync())
            .Where(key => key.StartsWith(nameof(CreditParameters)))
            .ToAsyncEnumerable()
            .SelectAwait(async key => (Key: key, Parameters: await LocalStorageService.GetItemAsync<CreditParameters>(key)))
            .ToArrayAsync();
    }

    private async ValueTask SetParameters(CreditParameters parameters)
    {
        _creditParameters = parameters;
        StateHasChanged();
    }

    private async ValueTask DeleteParametersFromSaves(string key)
    {
        await LocalStorageService.RemoveItemAsync(key);
        await UpdateSavedParametersAsync();
        StateHasChanged();
    }

    private async Task SaveCurrentParametersAsync()
    {
        var key = $"{nameof(CreditParameters)}{_creditParameters.Name}{Guid.NewGuid()}";

        await LocalStorageService.SetItemAsync(key, _creditParameters);
        await UpdateSavedParametersAsync();
    }
    
    private static LineConfig GetLineConfig() => new()
    {
        Options = new LineOptions
        {
            Responsive = true,
            Title = new OptionsTitle
            {
                Display = true,
                Text = "Payments graph"
            },
            Scales = new Scales
            {
                XAxes = new List<CartesianAxis>
                {
                    new TimeAxis
                    {
                        ScaleLabel = new ScaleLabel{ LabelString = "Dates" },
                        Time = new TimeOptions
                        {
                            Unit = TimeMeasurement.Month,
                        }
                    }
                },
                YAxes = new List<CartesianAxis>
                {
                    new LinearCartesianAxis
                    {
                        ScaleLabel = new ScaleLabel { LabelString = "Percent payment sums" }
                    }
                }
            }
        }
    };

    private record CreditParametersCard : Card
    {
        public CreditParameters CreditParameters { get; init; } = null!;
    }
}